body {
    background-color: lightgrey;
}

.logo {
    border-radius: 50%;
    margin-left: 10px;
}   

.contact {
    display: flex;
    margin-right: 30%;
    margin-left: 40%;
}

.facebook {
    margin-right: 20px;
}

/* .email{
    margin-right: 30%;
    margin-left: 30%
} */

.container {
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;
}

nav {
    background-color: black;
    height: 200px;
}

/* media query for logo img */

@media screen and (max-width: 640px) {
    .logo {
        width: 250px;
    }
    .contact {
        display: block;
    }
    .email {
        margin-right: 20px;
    }
  }